body {
    text-align: center;
    background-image: url(https://i.ibb.co/m9bCVBK/conrad-ziebland-ag-E97zp-Xvo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: white;
    font-family: 'Sansita Swashed', cursive;
}

p {
    font-family: 'Cormorant', serif;
}

#btnQuote, #btnToggle {
    border: 0;
    background: #141F26;
    opacity: 70%;
    color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    font-size: 14px;
    font-family: courier new;
    max-width: 0 auto;
    cursor: pointer;
}

#btnQuote:link, #btnQuote:visited, #btnQuote:focus, #btnToggle:link, #btnToggle:visited, #btnToggle:focus {
    background: #141F26;
  }
  
#btnQuote:hover, #btnToggle:hover {
    background: #3C4E59;
  }
  
#btnQuote:active, #btnToggle:active {
    background: #141F26;
    color: white;
  }

.light-mode {
    text-align: center;
    background-image: url(https://i.ibb.co/WGmzNBw/yucar-fotografik-cf-R-V1-Qu-EKw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #141F26;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    border-radius: 5px;
    text-align: center;
    line-height: 3;
    color: white;
  }
  
  a:link, a:visited, a:focus {
    background: #3C4E59;
  }
  
  a:hover {
    background: #141F26;
  }
  
  a:active {
    background: #141F26;
    color: white;
  }