body {
    text-align: center;
    background: url(https://i.ibb.co/m9bCVBK/conrad-ziebland-ag-E97zp-Xvo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {

}

p {

}

.button {
    
}